.intro-main {
  background: url("../../img/back-mobile.jpg") center no-repeat;
  width: 100%;
  height: 389px;
  padding-top: 90px;

  margin-bottom: 32px;
}

.intro-main__text {
  display: block;
  margin: 0 auto;
}
