.intro-other {
  background: url("../../img/back-desktop-other.jpg") center no-repeat;
  background-position: 0 -56px;
  width: 100%;
  height: 158px;
  padding-top: 52px;
  margin-bottom: 36px;
}

.intro-other__text {
  display: block;
  margin: 0 auto;
}
