$white: #ffffff;
$second: #81B3D2;
$black: #000000;
$gray: #333333;
$lightgray: #eeeeee;

@font-face {
  font-family: "PTsans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PTsansBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,h7 {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 320px;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.button {
  border: none;
  background-color: $second;
  color: $white;
  font-family: "PTsansBold";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 49.5px;
  cursor: pointer;
  text-transform: uppercase;
}

// Import
@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/intro-main.scss";
@import "./blocks/advantages.scss";
@import "./blocks/section__header.scss";
@import "./blocks/advantage.scss";
@import "./blocks/advantage__card.scss";
@import "./blocks/interested.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/intro-other.scss";
@import "./blocks/form.scss";
@import "./blocks/gallery.scss";
@import "./blocks/card.scss";
@import "./blocks/trailer.scss";

